# Data Cleaning and Transformation

## Load and Present Data

In [44]:
import pandas as pd

#reading the csv files
coffee_sales = pd.read_csv("../data/raw/coffee_sales.csv")
print(coffee_sales.count("rows"))
coffee_sales.nunique()

date           262
datetime       262
cash_type      262
money          262
coffee_name    262
dtype: int64

date            41
datetime       254
cash_type        2
money           10
coffee_name     30
dtype: int64

In [45]:
coffee_sales['date'] = pd.to_datetime(coffee_sales['date'])
coffee_sales

,date,datetime,cash_type,money,coffee_name
0,2025-02-08,2025-02-08 14:26:04,cash,15.0,Tea
1,2025-02-08,2025-02-08 14:28:26,cash,15.0,Tea
2,2025-02-08,2025-02-08 14:33:04,card,20.0,Espresso
3,2025-02-08,2025-02-08 15:51:04,card,30.0,Chocolate with coffee
4,2025-02-08,2025-02-08 16:35:01,cash,27.0,Chocolate with milk
...,...,...,...,...,...
257,2025-03-23,2025-03-23 14:55:46,cash,30.0,Cappuccino
258,2025-03-23,2025-03-23 15:15:36,card,25.0,Irish whiskey
259,2025-03-23,2025-03-23 17:59:25,card,28.0,Super chocolate
260,2025-03-23,2025-03-23 18:01:33,card,28.0,Vanilla with Irish whiskey
261,2025-03-23,2025-03-23 21:23:11,card,29.0,Coffee with Irish whiskey

## Renaming rows

In [46]:
coffee_sales.rename(columns= {"date": "Date","datetime":"Transaction Date","cash_type": "Transaction Type", "money": "Price", "coffee_name": "Coffee Order"}, inplace= True)
coffee_sales

,Date,Transaction Date,Transaction Type,Price,Coffee Order
0,2025-02-08,2025-02-08 14:26:04,cash,15.0,Tea
1,2025-02-08,2025-02-08 14:28:26,cash,15.0,Tea
2,2025-02-08,2025-02-08 14:33:04,card,20.0,Espresso
3,2025-02-08,2025-02-08 15:51:04,card,30.0,Chocolate with coffee
4,2025-02-08,2025-02-08 16:35:01,cash,27.0,Chocolate with milk
...,...,...,...,...,...
257,2025-03-23,2025-03-23 14:55:46,cash,30.0,Cappuccino
258,2025-03-23,2025-03-23 15:15:36,card,25.0,Irish whiskey
259,2025-03-23,2025-03-23 17:59:25,card,28.0,Super chocolate
260,2025-03-23,2025-03-23 18:01:33,card,28.0,Vanilla with Irish whiskey
261,2025-03-23,2025-03-23 21:23:11,card,29.0,Coffee with Irish whiskey

## Handling Missing Values

In [47]:
coffee_sales.isnull().sum()

Date                0
Transaction Date    0
Transaction Type    0
Price               0
Coffee Order        0
dtype: int64

## Duplicate Values

In [48]:
duplicates = coffee_sales[coffee_sales.duplicated()]
print(duplicates)

          Date     Transaction Date Transaction Type  Price  \
111 2025-02-26  2025-02-26 09:41:12             cash   25.0
256 2025-03-23  2025-03-23 10:25:48             cash   25.0

            Coffee Order
111  Americano with milk
256  Americano with milk

These values are not duplicates, they are separate transactions on different dates, but hey have the same transaction type and order.

## Store cleaned data frame

In [49]:
# presenting
coffee_sales

#saving
coffee_sales.to_csv("../data/cleaned/cleaned_coffee-sales.csv")